<!DOCTYPE html>
<html>
  <head>
    <title>Error Page</title>
  </head>
  <body>
    <h1 style="text-align:center;color:red;padding:10px;">Error</h1>
    <p style="padding:10px;text-align:center;color:magenta;font-size:16pt;"><%= message %></p>
    <p style="font-size:16pt;text-align:center;"><a href="javascript:history.back()">Go Back</a></p>
  </body>
</html>